.repo-list {
  list-style: none;
  padding: 0;
  min-height: 500px;
}
.repo-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.repo-link {
  text-decoration: none;
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #0064eb;
  padding: 25px 0 0 32px;
  margin-bottom: 15px;
}
.repo-description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding: 0 0 24px 32px;
}
.paginationBtns {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.paginationBtns > li {
  background-color: transparent;
}
.paginationBtns a {
  width: 21px;
	height: 25px;
  font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #808080;
  padding: 2px 6px;
  margin-right: 16px;
  transition: background-color .2s;
	cursor: pointer;
}
.paginationBtns a.prevBtn,
.paginationBtns a.nextBtn {
  color: #0064EB;
}
.prevBtn a,
.nextBtn a {
  width: 7.12px;
	height: 11.41px;
}
.paginationDisabled a {
	opacity: 0.2;
	margin: 0 16px;
}
.paginationActive a {
  color: #FFFFFF;
	background-color: #0064EB;
	border-radius: 4px;
}

@media (max-width: 340px) {
  .repo-link {
    padding: 5px;
    margin-bottom: 0;
  }
  .repo-description {
    padding: 5px;
  }
}

